

.navbar-brand {
    font-weight: bold;
    color: #fff; /* Color del texto en el encabezado */
}

/* Estilos del contenido principal */
.container {
    margin-top: 20px;
}

/* Estilos para los resultados */
.alert-success {
    background-color: #3eb54a;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

